#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

div.timeline-grid {
  border-color: lightgray;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 100%;
}

div.timeline {
  flex: 1 0 100px;
  position: relative;
}

.current-line {
  width: 100%;
  border-bottom: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  position: absolute;
  left:0;
  top:0;

}

div.timeline-date{
  border-width: 1px;
  border-style: solid;
  background-color:azure;
  flex: 1 0 100px;
}

div.timeline-due-dates{
  border-width: 1px;
  border-style: solid;
  background-color:lightgoldenrodyellow;
  min-height: 50px;
  text-align: left;
  padding-left: 5px;
  flex: 1 0 100px;
}

div.flex-container-row{
  display: flex;
  align-items: stretch;
  flex-grow: 1;

}

div.week-row {
  display: flex;
  width: 100%;
}

div.add-record {
  flex: 1 0 100px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 3px;
}