#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

div.timeline-grid {
  border-bottom-color: lightgray;
  border-top-color: lightgray;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  width: 100%;
}

div.timeline {
  flex: 1 1 200px;
  position: relative;
}

.current-line {
  width: 100%;
  border-bottom: 2px;
  border-bottom-color: crimson;
  border-bottom-style: solid;
  position: absolute;
  left:0;
  top:0;
}


div.timeline-notes {
  width: 50%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  border-right-style: solid;
  border-right-color: lightgrey;
  border-right-width:1px;
}

div.timeline-records {
  width: 50%;
  height: 100%;
  position: absolute;
  right:0;
  top:0;
  border-left-style: solid;
  border-left-color: lightgrey;
  border-left-width:1px;
}

div.timeline-note-piece{
  border-right-style:solid;
  border-right-width: 10px;
  border-top-style:solid;
  border-top-color: #A6A6A6;
  border-right-color: #A6A6A6d0;
  background-color: #A6A6A622;
  position:absolute;
  width: 100%;
  border-bottom-left-radius: 10px;
  height: 50px;
}

div.timeline-record-piece{
  border-left-style: solid;
  border-left-width: 10px;
  border-left-color: #5B9BD5d0;
  border-top-style:solid;
  border-top-color: #5B9BD5;
  background-color: #5B9BD522;
  position:absolute;
  width: 100%;
  border-bottom-right-radius: 10px;
  height: 50px;
}


Button.add-record {
  flex:1 1 0px;
  margin: 2px;
}

Button.add-note {
  flex:1 1 0px;
  margin: 2px;
}

div.timeline-btn-row {
  height: 40px;
  display: flex;
  border-style: solid;
  border-width: 1px;
}

div.timeline-date{
  border-width: 1px;
  border-style: solid;
  background-color:#D9E1F2;
  flex: 1 1 200px;
}

div.timeline-due-dates{
  border-width: 1px;
  border-style: solid;
  background-color:#FFF2CC;
  min-height: 50px;
  text-align: left;
  padding-left: 5px;
  flex: 1 1 200px;
}

div.flex-container-row{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

div.week-row {
  display: flex;
  width: 100%;
}

div.week-schedule {
  border-style: solid;
}
